/* variables */
:root {
    --ms-primary-color:#1ABC9C;/* some main section, buttons*/
    --ms-secondary-color:#2C3E50; /* footer-header */
    --ms-third-color:#3A546D; /* first footer section */
}

/*................UTILITIES........................*/   
.bg-color-primary{
    background-color: var(--ms-primary-color);
}
.bg-color-secondary{
    background-color: var(--ms-secondary-color);
}
.bg-color-third{
    background-color: var(--ms-third-color);
}




/* ..................DEBUG........................ */
.debug .portfolio-img-container{
    height: 200px;
}
.debug .portfolio-img-container{
    background-color: blue;
}
.debug .intro-img{
    width: 200px;
    height: 200px;
    background-color: white;
}


/* ..................DOCUMENT STYLE............... */

.portfolio-img img{
    width: 100%;
    border-radius: 10px;
}
.ms-container-padding{
    padding: 0 150px !important;
    overflow: auto;
}
.ms-name-form{
    border-bottom: 1px solid lightgray;
}
.ms-form{
    border: none !important;
}
.ms-btn-send{
    background-color: var(--ms-primary-color) !important;
}