/* variables */
:root {
    --ms-primary-color:#1ABC9C;/* some main section, buttons*/
    --ms-secondary-color:#2C3E50; /* footer-header */
    --ms-third-color:#3A546D; /* first footer section */
}

/*................UTILITIES........................*/   
.bg-color-primary{
    background-color: var(--ms-primary-color);
}
.bg-color-secondary{
    background-color: var(--ms-secondary-color);
}
.bg-color-third{
    background-color: var(--ms-third-color);
}
/* esiste "text-white" cambia le classi!!! */



/* ..................DEBUG........................ */
.debug .portfolio-img-container{
    height: 200px;
}
.debug .portfolio-img-container{
    background-color: blue;
}
.debug .intro-img{
    width: 200px;
    height: 200px;
    background-color: white;
}


/* ..................DOCUMENT STYLE............... */
/* HEADER */
.ms-doc-title h1{
    font-size: 25px ;
    font-weight: 700;
}
.ms-header-nav li, a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.hide{
    display: none;
}


/*..................RESPONSIVE RULES............. */
@media all and (min-width:768px){
    .hide{
        display: block;
    }
    .hamburger{
        display: none;
    }
}
